.alignParent {
    display: flex;
    margin: 25px;
    /*justify-content: center;*/
}

.child {
    min-height: 40px;
    min-width: 40px;
}

.yellow {
    background-color: yellow;
    order: 1;
}

.orange {
    background-color: orange;
    order: 2;
}

.red {
    background-color: red;
    order: 3;
}

.purple {
    background-color: purple;
    order: 4;
}

.blue {
    background-color: blue;
    order: 5;
}

.directionParent {
    display: flex;
    flex-direction: column-reverse;
}

.directionParent .child {
    width: 50px;
}

.spaceParent {
    display: flex;
    justify-content: space-around;
}

.alignParent {
    display: flex;
    height: 65px;
}

.alignParent .child {
    align-items: stretch;
}

.alignCenterParent {
    display: flex;
    align-items: flex-start;
}

.alignCenterParent .yellow {
    height: 60px;
}

.alignCenterParent .orange {
    height: 45px;
}

.alignCenterParent .red {
    height: 90px;
}

.alignCenterParent .purple {
    height: 30px;
}

.alignCenterParent .blue {
    height: 55px;
}

.flexWrapParent {
    display: flex;
    width: 400px;
    border: solid 1px black;
    flex-wrap: wrap-reverse;
}

.flexWrapParent .yellow {
    width: 140px;
}

.flexWrapParent .orange {
    width: 260px;
}

.flexWrapParent .red {
    width: 90px;
}

.flexWrapParent .purple {
    width: 130px;
}

.flexWrapParent .blue {
    width: 175px;
}

.rowWrapParent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.rowWrapParent .child {
    width: 200px;
    height: 200px;
}